In [1]:
import sys
import numpy as np
import pandas as pd
import csv

In [2]:
train_data = pd.read_csv('train.csv')
train_data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
X_data = pd.read_csv('X_train')

In [4]:
X_data.shape

(32561, 106)

In [5]:
print(X_data)

       age  fnlwgt  sex  capital_gain  capital_loss  hours_per_week  \
0       39   77516    1          2174             0              40
1       50   83311    1             0             0              13
2       38  215646    1             0             0              40
3       53  234721    1             0             0              40
4       28  338409    0             0             0              40
5       37  284582    0             0             0              40
6       49  160187    0             0             0              16
7       52  209642    1             0             0              45
8       31   45781    0         14084             0              50
9       42  159449    1          5178             0              40
10      37  280464    1             0             0              80
11      30  141297    1             0             0              40
12      23  122272    0             0             0              30
13      32  205019    1             0             0              50
14      40  121772    1             0             0              40
15      34  245487    1             0             0              45
16      25  176756    1             0             0              35
17      32  186824    1             0             0              40
18      38   28887    1             0             0              50
19      43  292175    0             0             0              45
20      40  193524    1             0             0              60
21      54  302146    0             0             0              20
22      35   76845    1             0             0              40
23      43  117037    1             0          2042              40
24      59  109015    0             0             0              40
25      56  216851    1             0             0              40
26      19  168294    1             0             0              40
27      54  180211    1             0             0              60
28      39  367260    1             0             0              80
29      49  193366    1             0             0              40
...    ...     ...  ...           ...           ...             ...
32531   30   33811    0             0             0              99
32532   34  204461    1             0             0              60
32533   54  337992    1             0             0              50
32534   37  179137    0             0             0              39
32535   22  325033    1             0             0              35
32536   34  160216    0             0             0              55
32537   30  345898    1             0             0              46
32538   38  139180    0         15020             0              45
32539   71  287372    1             0             0              10
32540   45  252208    0             0             0              40
32541   41  202822    0             0             0              32
32542   72  129912    1             0             0              25
32543   45  119199    0             0             0              48
32544   31  199655    0             0             0              30
32545   39  111499    0             0             0              20
32546   37  198216    0             0             0              40
32547   43  260761    1             0             0              40
32548   65   99359    1          1086             0              60
32549   43  255835    0             0             0              40
32550   43   27242    1             0             0              50
32551   32   34066    1             0             0              40
32552   43   84661    1             0             0              45
32553   32  116138    1             0             0              11
32554   53  321865    1             0             0              40
32555   22  310152    1             0             0              40
32556   27  257302    0             0             0              38
32557   40  154374    1             0             0              40
32558   58  151910    0             0             0              40
32559   22  201490    1             0             0              20
32560   52  287927    0         15024             0              40

        Federal-gov   Local-gov   Never-worked   Private        ...         \
0                 0           0              0         0        ...
1                 0           0              0         0        ...
2                 0           0              0         1        ...
3                 0           0              0         1        ...
4                 0           0              0         1        ...
5                 0           0              0         1        ...
6                 0           0              0         1        ...
7                 0           0              0         0        ...
8                 0           0              0         1        ...
9                 0           0              0         1        ...
10                0           0              0         1        ...
11                0           0              0         0        ...
12                0           0              0         1        ...
13                0           0              0         1        ...
14                0           0              0         1        ...
15                0           0              0         1        ...
16                0           0              0         0        ...
17                0           0              0         1        ...
18                0           0              0         1        ...
19                0           0              0         0        ...
20                0           0              0         1        ...
21                0           0              0         1        ...
22                1           0              0         0        ...
23                0           0              0         1        ...
24                0           0              0         1        ...
25                0           1              0         0        ...
26                0           0              0         1        ...
27                0           0              0         0        ...
28                0           0              0         1        ...
29                0           0              0         1        ...
...             ...         ...            ...       ...        ...
32531             0           0              0         0        ...
32532             0           0              0         1        ...
32533             0           0              0         1        ...
32534             0           0              0         1        ...
32535             0           0              0         1        ...
32536             0           0              0         1        ...
32537             0           0              0         1        ...
32538             0           0              0         1        ...
32539             0           0              0         0        ...
32540             0           0              0         0        ...
32541             0           0              0         0        ...
32542             0           0              0         0        ...
32543             0           1              0         0        ...
32544             0           0              0         1        ...
32545             0           1              0         0        ...
32546             0           0              0         1        ...
32547             0           0              0         1        ...
32548             0           0              0         0        ...
32549             0           0              0         0        ...
32550             0           0              0         0        ...
32551             0           0              0         1        ...
32552             0           0              0         1        ...
32553             0           0              0         1        ...
32554             0           0              0         1        ...
32555             0           0              0         1        ...
32556             0           0              0         1        ...
32557             0           0              0         1        ...
32558             0           0              0         1        ...
32559             0           0              0         1        ...
32560             0           0              0         0        ...

        Puerto-Rico   Scotland   South   Taiwan   Thailand   Trinadad&Tobago  \
0                 0          0       0        0          0                 0
1                 0          0       0        0          0                 0
2                 0          0       0        0          0                 0
3                 0          0       0        0          0                 0
4                 0          0       0        0          0                 0
5                 0          0       0        0          0                 0
6                 0          0       0        0          0                 0
7                 0          0       0        0          0                 0
8                 0          0       0        0          0                 0
9                 0          0       0        0          0                 0
10                0          0       0        0          0                 0
11                0          0       0        0          0                 0
12                0          0       0        0          0                 0
13                0          0       0        0          0                 0
14                0          0       0        0          0                 0
15                0          0       0        0          0                 0
16                0          0       0        0          0                 0
17                0          0       0        0          0                 0
18                0          0       0        0          0                 0
19                0          0       0        0          0                 0
20                0          0       0        0          0                 0
21                0          0       0        0          0                 0
22                0          0       0        0          0                 0
23                0          0       0        0          0                 0
24                0          0       0        0          0                 0
25                0          0       0        0          0                 0
26                0          0       0        0          0                 0
27                0          0       1        0          0                 0
28                0          0       0        0          0                 0
29                0          0       0        0          0                 0
...             ...        ...     ...      ...        ...               ...
32531             0          0       0        0          0                 0
32532             0          0       0        0          0                 0
32533             0          0       0        0          0                 0
32534             0          0       0        0          0                 0
32535             0          0       0        0          0                 0
32536             0          0       0        0          0                 0
32537             0          0       0        0          0                 0
32538             0          0       0        0          0                 0
32539             0          0       0        0          0                 0
32540             0          0       0        0          0                 0
32541             0          0       0        0          0                 0
32542             0          0       0        0          0                 0
32543             0          0       0        0          0                 0
32544             0          0       0        0          0                 0
32545             0          0       0        0          0                 0
32546             0          0       0        0          0                 0
32547             0          0       0        0          0                 0
32548             0          0       0        0          0                 0
32549             0          0       0        0          0                 0
32550             0          0       0        0          0                 0
32551             0          0       0        0          0                 0
32552             0          0       0        0          0                 0
32553             0          0       0        1          0                 0
32554             0          0       0        0          0                 0
32555             0          0       0        0          0                 0
32556             0          0       0        0          0                 0
32557             0          0       0        0          0                 0
32558             0          0       0        0          0                 0
32559             0          0       0        0          0                 0
32560             0          0       0        0          0                 0

        United-States   Vietnam   Yugoslavia  ?_native_country
0                   1         0            0                 0
1                   1         0            0                 0
2                   1         0            0                 0
3                   1         0            0                 0
4                   0         0            0                 0
5                   1         0            0                 0
6                   0         0            0                 0
7                   1         0            0                 0
8                   1         0            0                 0
9                   1         0            0                 0
10                  1         0            0                 0
11                  0         0            0                 0
12                  1         0            0                 0
13                  1         0            0                 0
14                  0         0            0                 1
15                  0         0            0                 0
16                  1         0            0                 0
17                  1         0            0                 0
18                  1         0            0                 0
19                  1         0            0                 0
20                  1         0            0                 0
21                  1         0            0                 0
22                  1         0            0                 0
23                  1         0            0                 0
24                  1         0            0                 0
25                  1         0            0                 0
26                  1         0            0                 0
27                  0         0            0                 0
28                  1         0            0                 0
29                  1         0            0                 0
...               ...       ...          ...               ...
32531               1         0            0                 0
32532               1         0            0                 0
32533               0         0            0                 0
32534               1         0            0                 0
32535               1         0            0                 0
32536               1         0            0                 0
32537               1         0            0                 0
32538               1         0            0                 0
32539               1         0            0                 0
32540               1         0            0                 0
32541               1         0            0                 0
32542               1         0            0                 0
32543               1         0            0                 0
32544               1         0            0                 0
32545               1         0            0                 0
32546               1         0            0                 0
32547               0         0            0                 0
32548               1         0            0                 0
32549               1         0            0                 0
32550               1         0            0                 0
32551               1         0            0                 0
32552               1         0            0                 0
32553               0         0            0                 0
32554               1         0            0                 0
32555               1         0            0                 0
32556               1         0            0                 0
32557               1         0            0                 0
32558               1         0            0                 0
32559               1         0            0                 0
32560               1         0            0                 0

[32561 rows x 106 columns]

In [6]:
Y_data = pd.read_csv('Y_train')
print(Y_data)

       label
0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          1
8          1
9          1
10         1
11         1
12         0
13         0
14         1
15         0
16         0
17         0
18         0
19         1
20         1
21         0
22         0
23         0
24         0
25         1
26         0
27         1
28         0
29         0
...      ...
32531      0
32532      1
32533      1
32534      0
32535      0
32536      1
32537      0
32538      1
32539      1
32540      0
32541      0
32542      0
32543      0
32544      0
32545      1
32546      0
32547      0
32548      0
32549      0
32550      0
32551      0
32552      0
32553      0
32554      1
32555      0
32556      0
32557      1
32558      0
32559      0
32560      1

[32561 rows x 1 columns]

In [7]:
train_data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [8]:
train_data.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [9]:
print(train_data.shape)

(32561, 15)

##

In [10]:
dim = X_data.shape[1] + 1 
w = np.zeros(shape = (dim, 1 ))
x = np.concatenate((np.ones((X_data.shape[0], 1 )), X_data) , axis = 1).astype(float)
adagrad_sum = np.zeros(shape = (dim, 1 ))

###

In [11]:
mean = np.mean(x, axis = 0) 
std = np.std(x, axis = 0)
for i in range(x.shape[0]):
    for j in range(x.shape[1]):
        if not std[j] == 0 :
            x[i][j] = (x[i][j]- mean[j]) / std[j]

### ADAM

In [12]:
w = np.zeros(shape = (dim, 1 ))
v = np.zeros(shape = (dim, 1 ))
v_corrected = np.zeros(shape = (dim, 1 ))
s = np.zeros(shape = (dim, 1 ))
s_corrected = np.zeros(shape = (dim, 1 ))

In [13]:
beta1 = 0.9
beta2 = 0.999 
epsilon = 1e-8
learning_rate = np.array([[0.01]] * dim)

In [14]:
beta1 = 0.9
beta2 = 0.999 
epsilon = 1e-8
learning_rate = np.array([[0.1]] * dim)
for T in range(2000):
    y_hat =1/(1+np.exp(-x.dot(w)))
    loss = -np.sum((Y_data*np.log(y_hat)+(1-Y_data)*(np.log(1-y_hat))))/ 32561
    if(T % 10 == 0 ):
        print("T=",T)
        print("Loss:",loss.label)
    #gradient = (-2) * np.transpose(x).dot(Y_data-x.dot(w))
    gradient = 1/x.shape[0]*np.dot(x.T,(y_hat-Y_data))
    #adagrad_sum += gradient ** 2
    #w = w - learning_rate * gradient / (np.sqrt(adagrad_sum) + 0.0005)
    v = beta1 * v+ (1 - beta1) * gradient
    v_corrected = v / (1 - beta1 ** (T+1))
    s= beta2 *s + (1 - beta2) * (gradient** 2)
    s_corrected = s / (1 - beta2 ** (T+1))
    w = w - learning_rate * ( v_corrected / (np.sqrt(s_corrected) + epsilon))
np.save('weight.npy',w)     ## save weight

T= 0
Loss: 0.6931471805599453
T= 10
Loss: 0.38249813739800875
T= 20
Loss: 0.3292923993143257
T= 30
Loss: 0.3196987625474128
T= 40
Loss: 0.31743890340734476
T= 50
Loss: 0.3167070248004986
T= 60
Loss: 0.3163924712503857
T= 70
Loss: 0.31618738421589315
T= 80
Loss: 0.31606082695399684
T= 90
Loss: 0.31598303030527936
T= 100
Loss: 0.3159345712911412
T= 110
Loss: 0.31590419820963545
T= 120
Loss: 0.3158819513325865
T= 130
Loss: 0.3158640380837519
T= 140
Loss: 0.3158490589332178
T= 150
Loss: 0.3158366069984384
T= 160
Loss: 0.3158264375697553
T= 170
Loss: 0.31581828238611603
T= 180
Loss: 0.31581183149726416
T= 190
Loss: 0.31580679959066094
T= 200
Loss: 0.3158029294380139
T= 210
Loss: 0.31579999376389867
T= 220
Loss: 0.31579779719601825
T= 230
Loss: 0.31579617541187804
T= 240
Loss: 0.3157949935698482
T= 250
Loss: 0.31579414335179357
T= 260
Loss: 0.31579353943495875
T= 270
Loss: 0.3157931158231455
T= 280
Loss: 0.3157928223541631
T= 290
Loss: 0.3157926215335609
T= 300
Loss: 0.3157924857819491
T= 310
Loss: 0.3157923951247809
T= 320
Loss: 0.31579233531086476
T= 330
Loss: 0.31579229632005235
T= 340
Loss: 0.3157922712071132
T= 350
Loss: 0.31579225522527976
T= 360
Loss: 0.31579224517492827
T= 370
Loss: 0.3157922389286287
T= 380
Loss: 0.31579223509093884
T= 390
Loss: 0.31579223275881735
T= 400
Loss: 0.3157922313556997
T= 410
Loss: 0.31579223051839395
T= 420
Loss: 0.31579223002118717
T= 430
Loss: 0.31579222972569043
T= 440
Loss: 0.3157922295482091
T= 450
Loss: 0.31579222943882346
T= 460
Loss: 0.31579222936816437
T= 470
Loss: 0.3157922293192061
T= 480
Loss: 0.31579222928220824
T= 490
Loss: 0.31579222925168726
T= 500
Loss: 0.3157922292246015
T= 510
Loss: 0.3157922291992911
T= 520
Loss: 0.3157922291748639
T= 530
Loss: 0.31579222915084504
T= 540
Loss: 0.31579222912699806
T= 550
Loss: 0.31579222910319477
T= 560
Loss: 0.3157922290793772
T= 570
Loss: 0.31579222905552284
T= 580
Loss: 0.315792229031617
T= 590
Loss: 0.31579222900766074
T= 600
Loss: 0.3157922289836534
T= 610
Loss: 0.31579222895959613
T= 620
Loss: 0.31579222893549613
T= 630
Loss: 0.3157922289113556
T= 640
Loss: 0.31579222888717784
T= 650
Loss: 0.31579222886297065
T= 660
Loss: 0.3157922288387328
T= 670
Loss: 0.3157922288144742
T= 680
Loss: 0.31579222879019553
T= 690
Loss: 0.3157922287659013
T= 700
Loss: 0.31579222874159335
T= 710
Loss: 0.3157922287172785
T= 720
Loss: 0.3157922286929562
T= 730
Loss: 0.31579222866863416
T= 740
Loss: 0.3157922286443137
T= 750
Loss: 0.315792228619999
T= 760
Loss: 0.3157922285956911
T= 770
Loss: 0.3157922285713934
T= 780
Loss: 0.31579222854711236
T= 790
Loss: 0.3157922285228486
T= 800
Loss: 0.3157922284986055
T= 810
Loss: 0.315792228474386
T= 820
Loss: 0.3157922284501906
T= 830
Loss: 0.3157922284260252
T= 840
Loss: 0.31579222840188986
T= 850
Loss: 0.3157922283777876
T= 860
Loss: 0.3157922283537211
T= 870
Loss: 0.31579222832969583
T= 880
Loss: 0.31579222830570897
T= 890
Loss: 0.31579222828176584
T= 900
Loss: 0.315792228257869
T= 910
Loss: 0.315792228234018
T= 920
Loss: 0.31579222821021513
T= 930
Loss: 0.31579222818646563
T= 940
Loss: 0.31579222816276886
T= 950
Loss: 0.31579222813912705
T= 960
Loss: 0.3157922281155451
T= 970
Loss: 0.31579222809201923
T= 980
Loss: 0.3157922280685537
T= 990
Loss: 0.31579222804515117
T= 1000
Loss: 0.3157922280226794
T= 1010
Loss: 0.3157922397785214
T= 1020
Loss: 0.31589831693306863
T= 1030
Loss: 0.31581953420861536
T= 1040
Loss: 0.3158063356796062
T= 1050
Loss: 0.31579567211185616
T= 1060
Loss: 0.3157926706784589
T= 1070
Loss: 0.3157929194496721
T= 1080
Loss: 0.31579231314932327
T= 1090
Loss: 0.31579233056699935
T= 1100
Loss: 0.3157922345395982
T= 1110
Loss: 0.3157922313805849
T= 1120
Loss: 0.31579223036127957
T= 1130
Loss: 0.315792228289155
T= 1140
Loss: 0.3157922279545546
T= 1150
Loss: 0.3157922282177222
T= 1160
Loss: 0.31579222812830865
T= 1170
Loss: 0.31579223006771057
T= 1180
Loss: 0.3157923132951468
T= 1190
Loss: 0.31580184435041303
T= 1200
Loss: 0.3158655763375805
T= 1210
Loss: 0.31580985642889037
T= 1220
Loss: 0.31579881132819193
T= 1230
Loss: 0.3157966489812666
T= 1240
Loss: 0.31579300489956524
T= 1250
Loss: 0.315792485867691
T= 1260
Loss: 0.315792543282249
T= 1270
Loss: 0.31579232770216425
T= 1280
Loss: 0.3157922609501223
T= 1290
Loss: 0.3157922458027474
T= 1300
Loss: 0.31579223421969843
T= 1310
Loss: 0.31579222819649755
T= 1320
Loss: 0.31579222819262437
T= 1330
Loss: 0.3157922360798111
T= 1340
Loss: 0.3157924868184357
T= 1350
Loss: 0.3158149342699662
T= 1360
Loss: 0.31583142967269673
T= 1370
Loss: 0.3158331004053096
T= 1380
Loss: 0.31579425201311956
T= 1390
Loss: 0.31579952329838057
T= 1400
Loss: 0.31579234525204664
T= 1410
Loss: 0.3157930300573006
T= 1420
Loss: 0.3157925252063904
T= 1430
Loss: 0.3157922517282151
T= 1440
Loss: 0.3157922280873878
T= 1450
Loss: 0.31579222833245435
T= 1460
Loss: 0.3157922318833157
T= 1470
Loss: 0.3157922311987267
T= 1480
Loss: 0.3157922278500364
T= 1490
Loss: 0.3157922269904835
T= 1500
Loss: 0.3157922269704549
T= 1510
Loss: 0.3157922274993754
T= 1520
Loss: 0.31579229188452396
T= 1530
Loss: 0.315809551575534
T= 1540
Loss: 0.31586016195757827
T= 1550
Loss: 0.31588760815451666
T= 1560
Loss: 0.3158304476794699
T= 1570
Loss: 0.31580599544296595
T= 1580
Loss: 0.31579654162687926
T= 1590
Loss: 0.3157929298245789
T= 1600
Loss: 0.31579223301913745
T= 1610
Loss: 0.3157923966132737
T= 1620
Loss: 0.3157922849720746
T= 1630
Loss: 0.31579223368009024
T= 1640
Loss: 0.31579223504591536
T= 1650
Loss: 0.3157922296786342
T= 1660
Loss: 0.31579222668123136
T= 1670
Loss: 0.3157922268025526
T= 1680
Loss: 0.31579222674776014
T= 1690
Loss: 0.31579222664704215
T= 1700
Loss: 0.3157922265977051
T= 1710
Loss: 0.3157922265956374
T= 1720
Loss: 0.3157922265647704
T= 1730
Loss: 0.3157922265571173
T= 1740
Loss: 0.3157922266146615
T= 1750
Loss: 0.3157922291408769
T= 1760
Loss: 0.3157924553483627
T= 1770
Loss: 0.3158364432300315
T= 1780
Loss: 0.31579355605505777
T= 1790
Loss: 0.31587393155685506
T= 1800
Loss: 0.3158263805136334
T= 1810
Loss: 0.31579580191908935
T= 1820
Loss: 0.3157928663349053
T= 1830
Loss: 0.31579392537132195
T= 1840
Loss: 0.31579229952548044
T= 1850
Loss: 0.3157924355453987
T= 1860
Loss: 0.31579222838917165
T= 1870
Loss: 0.31579225208471606
T= 1880
Loss: 0.3157922374017782
T= 1890
Loss: 0.31579222882660507
T= 1900
Loss: 0.31579222707619165
T= 1910
Loss: 0.31579222678046104
T= 1920
Loss: 0.31579222654453165
T= 1930
Loss: 0.31579222623456954
T= 1940
Loss: 0.3157922263085666
T= 1950
Loss: 0.31579222635383336
T= 1960
Loss: 0.3157922275282086
T= 1970
Loss: 0.3157922721917031
T= 1980
Loss: 0.3157963681468695
T= 1990
Loss: 0.31620857082956644

In [15]:
y_hat.shape

(32561, 1)

###

In [16]:
w = np.zeros(shape = (dim, 1 ))
learning_rate = np.array([[1]] * dim)

In [17]:
for T in range(2000):
    y_hat =1/(1+np.exp(-x.dot(w)))
    loss = -np.sum((Y_data*np.log(y_hat)+(1-Y_data)*(np.log(1-y_hat))))/ 32561
    if(T % 10 == 0 ):
        print("T=",T)
        print("Loss:",loss.label)
    #gradient = (-2) * np.transpose(x).dot(Y_data-x.dot(w))
    gradient = 1/x.shape[0]*np.dot(x.T,(y_hat-Y_data))
    #adagrad_sum += gradient ** 2
    #w = w - learning_rate * gradient / (np.sqrt(adagrad_sum) + 0.0005)
    w = w - learning_rate * gradient
np.save('weight.npy',w)     ## save weight

T= 0
Loss: 0.6931471805599453
T= 10
Loss: 0.35547144615744264
T= 20
Loss: 0.33576468431999257
T= 30
Loss: 0.32897416053080997
T= 40
Loss: 0.32548908863565085
T= 50
Loss: 0.32334021518695816
T= 60
Loss: 0.32187220790920784
T= 70
Loss: 0.3208036596033167
T= 80
Loss: 0.31999243543659606
T= 90
Loss: 0.31935809237223084
T= 100
Loss: 0.3188511354925052
T= 110
Loss: 0.3184391365891945
T= 120
Loss: 0.3180998031405626
T= 130
Loss: 0.31781722763254167
T= 140
Loss: 0.3175797199041531
T= 150
Loss: 0.3173784842180652
T= 160
Loss: 0.3172067743111061
T= 170
Loss: 0.3170593328017416
T= 180
Loss: 0.31693200721363024
T= 190
Loss: 0.31682147983791636
T= 200
Loss: 0.31672507334036765
T= 210
Loss: 0.3166406081565359
T= 220
Loss: 0.31656629612980935
T= 230
Loss: 0.3165006600266563
T= 240
Loss: 0.3164424718515677
T= 250
Loss: 0.31639070502896866
T= 260
Loss: 0.31634449695209804
T= 270
Loss: 0.3163031193761955
T= 280
Loss: 0.31626595481246506
T= 290
Loss: 0.3162324775589534
T= 300
Loss: 0.31620223834814637
T= 310
Loss: 0.3161748518405188
T= 320
Loss: 0.3161499863762968
T= 330
Loss: 0.31612735553331484
T= 340
Loss: 0.3161067111402398
T= 350
Loss: 0.31608783747075764
T= 360
Loss: 0.3160705464021855
T= 370
Loss: 0.3160546733661621
T= 380
Loss: 0.3160400739529908
T= 390
Loss: 0.3160266210575739
T= 400
Loss: 0.31601420247541223
T= 410
Loss: 0.31600271887346837
T= 420
Loss: 0.3159920820737267
T= 430
Loss: 0.3159822135978617
T= 440
Loss: 0.3159730434300596
T= 450
Loss: 0.31596450896228595
T= 460
Loss: 0.3159565540921881
T= 470
Loss: 0.3159491284488773
T= 480
Loss: 0.3159421867260237
T= 490
Loss: 0.31593568810515615
T= 500
Loss: 0.3159295957550597
T= 510
Loss: 0.3159238763955099
T= 520
Loss: 0.3159184999156694
T= 530
Loss: 0.3159134390390911
T= 540
Loss: 0.3159086690286342
T= 550
Loss: 0.3159041674257438
T= 560
Loss: 0.315899913819427
T= 570
Loss: 0.31589588964101667
T= 580
Loss: 0.3158920779814485
T= 590
Loss: 0.3158884634282257
T= 600
Loss: 0.31588503191970657
T= 610
Loss: 0.3158817706146614
T= 620
Loss: 0.31587866777534
T= 630
Loss: 0.31587571266252656
T= 640
Loss: 0.31587289544123154
T= 650
Loss: 0.3158702070958996
T= 660
Loss: 0.3158676393540493
T= 670
Loss: 0.315865184617521
T= 680
Loss: 0.31586283590046293
T= 690
Loss: 0.3158605867734194
T= 700
Loss: 0.3158584313128375
T= 710
Loss: 0.31585636405547934
T= 720
Loss: 0.3158543799572204
T= 730
Loss: 0.31585247435579605
T= 740
Loss: 0.31585064293710746
T= 750
Loss: 0.3158488817047134
T= 760
Loss: 0.31584718695222236
T= 770
Loss: 0.31584555523827174
T= 780
Loss: 0.3158439833638352
T= 790
Loss: 0.31584246835168234
T= 800
Loss: 0.315841007427699
T= 810
Loss: 0.31583959800395656
T= 820
Loss: 0.3158382376633304
T= 830
Loss: 0.31583692414552156
T= 840
Loss: 0.31583565533435126
T= 850
Loss: 0.31583442924619337
T= 860
Loss: 0.31583324401946955
T= 870
Loss: 0.31583209790505284
T= 880
Loss: 0.3158309892575562
T= 890
Loss: 0.3158299165273678
T= 900
Loss: 0.31582887825339145
T= 910
Loss: 0.3158278730564224
T= 920
Loss: 0.31582689963310157
T= 930
Loss: 0.3158259567503937
T= 940
Loss: 0.31582504324050437
T= 950
Loss: 0.3158241579962855
T= 960
Loss: 0.31582329996697694
T= 970
Loss: 0.3158224681543334
T= 980
Loss: 0.3158216616090577
T= 990
Loss: 0.315820879427537
T= 1000
Loss: 0.3158201207488461
T= 1010
Loss: 0.3158193847519745
T= 1020
Loss: 0.31581867065330194
T= 1030
Loss: 0.31581797770425557
T= 1040
Loss: 0.31581730518915707
T= 1050
Loss: 0.31581665242324175
T= 1060
Loss: 0.31581601875081694
T= 1070
Loss: 0.315815403543576
T= 1080
Loss: 0.31581480619901825
T= 1090
Loss: 0.31581422613902105
T= 1100
Loss: 0.3158136628084737
T= 1110
Loss: 0.3158131156740452
T= 1120
Loss: 0.31581258422301334
T= 1130
Loss: 0.3158120679622087
T= 1140
Loss: 0.3158115664169931
T= 1150
Loss: 0.315811079130335
T= 1160
Loss: 0.3158106056619484
T= 1170
Loss: 0.3158101455874709
T= 1180
Loss: 0.3158096984977036
T= 1190
Loss: 0.31580926399791165
T= 1200
Loss: 0.315808841707151
T= 1210
Loss: 0.3158084312576586
T= 1220
Loss: 0.31580803229424653
T= 1230
Loss: 0.3158076444737808
T= 1240
Loss: 0.31580726746463006
T= 1250
Loss: 0.3158069009462185
T= 1260
Loss: 0.31580654460853413
T= 1270
Loss: 0.3158061981517196
T= 1280
Loss: 0.31580586128564925
T= 1290
Loss: 0.3158055337295496
T= 1300
Loss: 0.3158052152116316
T= 1310
Loss: 0.3158049054687494
T= 1320
Loss: 0.3158046042460578
T= 1330
Loss: 0.31580431129671915
T= 1340
Loss: 0.31580402638159477
T= 1350
Loss: 0.3158037492689688
T= 1360
Loss: 0.3158034797342742
T= 1370
Loss: 0.3158032175598418
T= 1380
Loss: 0.31580296253465723
T= 1390
Loss: 0.3158027144541258
T= 1400
Loss: 0.31580247311985
T= 1410
Loss: 0.31580223833941795
T= 1420
Loss: 0.31580200992620155
T= 1430
Loss: 0.3158017876991655
T= 1440
Loss: 0.3158015714826698
T= 1450
Loss: 0.31580136110629664
T= 1460
Loss: 0.31580115640468964
T= 1470
Loss: 0.31580095721737395
T= 1480
Loss: 0.3158007633886028
T= 1490
Loss: 0.31580057476721407
T= 1500
Loss: 0.31580039120646874
T= 1510
Loss: 0.3158002125639341
T= 1520
Loss: 0.3158000387013142
T= 1530
Loss: 0.31579986948435984
T= 1540
Loss: 0.31579970478270997
T= 1550
Loss: 0.31579954446978475
T= 1560
Loss: 0.31579938842267635
T= 1570
Loss: 0.31579923652202324
T= 1580
Loss: 0.31579908865190603
T= 1590
Loss: 0.31579894469974484
T= 1600
Loss: 0.3157988045561994
T= 1610
Loss: 0.3157986681150648
T= 1620
Loss: 0.3157985352731874
T= 1630
Loss: 0.31579840593036523
T= 1640
Loss: 0.31579827998925525
T= 1650
Loss: 0.31579815735530814
T= 1660
Loss: 0.3157980379366638
T= 1670
Loss: 0.3157979216440831
T= 1680
Loss: 0.3157978083908647
T= 1690
Loss: 0.315797698092782
T= 1700
Loss: 0.31579759066799057
T= 1710
Loss: 0.3157974860369783
T= 1720
Loss: 0.3157973841224876
T= 1730
Loss: 0.31579728484944813
T= 1740
Loss: 0.3157971881449157
T= 1750
Loss: 0.31579709393801314
T= 1760
Loss: 0.3157970021598685
T= 1770
Loss: 0.3157969127435497
T= 1780
Loss: 0.31579682562402384
T= 1790
Loss: 0.31579674073808767
T= 1800
Loss: 0.3157966580243191
T= 1810
Loss: 0.31579657742303
T= 1820
Loss: 0.31579649887621986
T= 1830
Loss: 0.3157964223275068
T= 1840
Loss: 0.31579634772210846
T= 1850
Loss: 0.31579627500677715
T= 1860
Loss: 0.31579620412976145
T= 1870
Loss: 0.3157961350407653
T= 1880
Loss: 0.3157960676909079
T= 1890
Loss: 0.31579600203267283
T= 1900
Loss: 0.3157959380198869
T= 1910
Loss: 0.3157958756076586
T= 1920
Loss: 0.31579581475236534
T= 1930
Loss: 0.31579575541160254
T= 1940
Loss: 0.3157956975441569
T= 1950
Loss: 0.3157956411099579
T= 1960
Loss: 0.315795586070069
T= 1970
Loss: 0.315795532386637
T= 1980
Loss: 0.3157954800228607
T= 1990
Loss: 0.31579542894297546

In [18]:
w = np.load('weight.npy')                                   ## load weight  ## test.csv
test_x = pd.read_csv('X_test')

In [19]:
test_x = np.concatenate((np.ones(shape = (test_x.shape[0],1)),test_x),axis = 1).astype(float)

In [20]:
print(test_x)
print(test_x.shape)

[[1.00000e+00 2.50000e+01 2.26802e+05 ... 0.00000e+00 0.00000e+00
  0.00000e+00]
 [1.00000e+00 3.80000e+01 8.98140e+04 ... 0.00000e+00 0.00000e+00
  0.00000e+00]
 [1.00000e+00 2.80000e+01 3.36951e+05 ... 0.00000e+00 0.00000e+00
  0.00000e+00]
 ...
 [1.00000e+00 3.80000e+01 3.74983e+05 ... 0.00000e+00 0.00000e+00
  0.00000e+00]
 [1.00000e+00 4.40000e+01 8.38910e+04 ... 0.00000e+00 0.00000e+00
  0.00000e+00]
 [1.00000e+00 3.50000e+01 1.82148e+05 ... 0.00000e+00 0.00000e+00
  0.00000e+00]]
(16281, 107)

##

In [21]:
mean = np.mean(test_x, axis = 0) 
std = np.std(test_x, axis = 0)
for i in range(test_x.shape[0]):
    for j in range(test_x.shape[1]):
        if not std[j] == 0 :
            test_x[i][j] = (test_x[i][j]- mean[j]) / std[j]

In [22]:
answer=1/(1+np.exp(-test_x.dot(w)))
print(answer)

[[0.00246245]
 [0.12050459]
 [0.38809904]
 ...
 [0.70063351]
 [0.2518633 ]
 [0.79786739]]

In [23]:
for i in range(answer.shape[0]):
    if answer[i] < 0.5 :
        answer[i]= 0
    if answer[i] >= 0.5 :
        answer[i] = 1

In [32]:
f = open('y_test1.csv',"w",newline='')
w = csv.writer(f)
title = ['id','label']
w.writerow(title) 
for i in range(1,16282):
    content = [str(i),answer[i-1][0]]
    w.writerow(content) 
f.close()

In [33]:
print(f.closed)

True

In [36]:
d=pd.read_csv('y_test1.csv')

In [37]:
print(d)

          id  label
0          1    0.0
1          2    0.0
2          3    0.0
3          4    1.0
4          5    0.0
5          6    0.0
6          7    0.0
7          8    1.0
8          9    0.0
9         10    0.0
10        11    1.0
11        12    1.0
12        13    0.0
13        14    0.0
14        15    1.0
15        16    1.0
16        17    0.0
17        18    0.0
18        19    0.0
19        20    1.0
20        21    1.0
21        22    0.0
22        23    0.0
23        24    0.0
24        25    1.0
25        26    1.0
26        27    0.0
27        28    0.0
28        29    0.0
29        30    0.0
...      ...    ...
16251  16252    0.0
16252  16253    1.0
16253  16254    0.0
16254  16255    1.0
16255  16256    1.0
16256  16257    0.0
16257  16258    0.0
16258  16259    0.0
16259  16260    0.0
16260  16261    0.0
16261  16262    1.0
16262  16263    0.0
16263  16264    0.0
16264  16265    0.0
16265  16266    1.0
16266  16267    0.0
16267  16268    0.0
16268  16269    0.0
16269  16270    0.0
16270  16271    0.0
16271  16272    0.0
16272  16273    0.0
16273  16274    0.0
16274  16275    0.0
16275  16276    0.0
16276  16277    0.0
16277  16278    0.0
16278  16279    1.0
16279  16280    0.0
16280  16281    1.0

[16281 rows x 2 columns]